body {
	margin-top: 20px;
}

.content-item {
	margin-top: 50px;
	padding: 30px 0;
	background-color: #FFFFFF;
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1); /* Adjust the box-shadow properties */
  }
  
  .content-item h3 {
	font-weight: 400;
	font-size: 20px;
	color: #555555;
	margin: 10px 0 15px;
  }
  
  .content-headline {
	height: 1px;
	text-align: center;
	margin: 20px 0 70px;
  }
  
  .content-headline h2 {
	background-color: #FFFFFF;
	display: inline-block;
	margin: -20px auto 0;
	padding: 0 20px;
  }
  
  .content-headline h3 {
	font-size: 14px;
	color: #AAAAAA;
	display: block;
  }
  
  #posts {
	background-color: #FFFFFF;
	border-radius: 4px; /* Add border-radius for a rounded appearance */
	overflow: hidden; /* Prevent the shadow from overflowing */
  }
  
  #posts form {
	margin-bottom: 30px;
  }
  
  #posts .media {
	border-top: 1px dashed #DDDDDD;
	padding: 20px 0;
	margin: 0;
  }
  
  #posts .media > .pull-left {
	margin-right: 20px;
	width: 100px; /* Set a fixed width for the media object */
  }
  
  #posts .media img {
	max-width: 100%; /* Maintain the original photo size */
	height: auto; 
  }

  #posts .media h4 span {
	font-size: 14px;
	float: right;
	color: #999999;
	font-weight: 400; /* Adjust the font-weight property */
  }
  
  #posts .media p {
	margin-bottom: 15px;
	text-align: justify;
  }
  
  #posts .media-detail {
	margin: 0px, 10px, 0px, 10px;
	display: flex;
  }
  
  #posts .media-detail li {
	display: inline-block;
	margin-right: 10px;
	color: #AAAAAA;
	font-size: 12px;
	font-weight: 600;
  }
  
  #posts .media-detail li i {
	color: rgb(65, 84, 255);
	font-size: 15px;
	margin-right: 5px; /* Reduce the margin for better spacing */
  }

  .post-reactions {
	text-align: left;
  }
  
  
  .reaction-button {
	background-color: white;
	color: #555555;
	margin-right: 10px;
  }
  
  .reaction-button:hover {
	background-color: #EEEEEE;
  }

  .list-inline {
	margin-top: 5px;
  }

  .list-inline li {
	display: inline-block;
	margin-right: 5px; /* Reduce the margin for better spacing */
  }

  .comments-section {
	margin: 30px; /* Add left margin for indentation */
	border-left: 2px solid #ccc; /* Add left border */
	padding-left: 10px; /* Add padding to separate comments from the border */
  }
  
  .comments-section > div {
	margin-bottom: 20px; /* Add some spacing between comments */
  }
  
  